/* .flex-container{
background-color: rgb(243, 229, 229);
width: 22em;
padding: 15em;
margin: 9em;
height:30em;
margin-left: auto;
margin-right: auto;
border-block-color: black;
} */

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  